In [27]:
pip install xlrd

Collecting xlrd
  Downloading xlrd-2.0.2-py2.py3-none-any.whl.metadata (3.5 kB)
Downloading xlrd-2.0.2-py2.py3-none-any.whl (96 kB)
Installing collected packages: xlrd
Successfully installed xlrd-2.0.2
Note: you may need to restart the kernel to use updated packages.

In [29]:
import pandas as pd

In [31]:
recaudacion = pd.read_csv(
    "C:/Users/brent/Downloads/recaudacion_iva_ganancias_total_2020_2025.csv"
)

In [33]:
recaudacion.head()

   anio impuesto_std  recaudacion_total
0  2020    GANANCIAS       1.302738e+06
1  2020          IVA       1.604043e+06
2  2020        TOTAL       7.607538e+06
3  2021    GANANCIAS       5.808507e+05
4  2021          IVA       9.712435e+05

In [35]:
recaudacion_total = (
    recaudacion
    [recaudacion["impuesto_std"] == "TOTAL"]
    [["anio", "recaudacion_total"]]
    .sort_values("anio")
    .reset_index(drop=True)
)

In [37]:
recaudacion_total

   anio  recaudacion_total
0  2020       7.607538e+06
1  2021       3.955087e+06
2  2023       8.970251e+07
3  2024       3.089811e+08
4  2025       4.214746e+08

recaudacion_total.dtypes

Para Presión Tributaria (% del PIB) necesitamos:

PBI

In [39]:
pib_raw = pd.read_excel(
    "C:/Users/brent/Downloads/Series trimestrales de oferta y demanda globales. Años 2004-2025.xls"
)

In [43]:
pib_raw.head()
pib_raw.columns

Index(['Índice de cuadros'], dtype='object')

In [47]:
#1️⃣ Ver las hojas del Excel
xls = pd.ExcelFile(
    "C:/Users/brent/Downloads/Series trimestrales de oferta y demanda globales. Años 2004-2025.xls"
)

xls.sheet_names

['Índice',
 'cuadro 1',
 'cuadro 2',
 'cuadro 3',
 'cuadro 4',
 'cuadro 5',
 'cuadro 6',
 'cuadro 7',
 'cuadro 8',
 'cuadro 9',
 'cuadro 10',
 'cuadro 11',
 'cuadro 12',
 'cuadro 13',
 'cuadro 14',
 'cuadro 15']

In [51]:
#2️⃣ Leer SOLO el Cuadro 1
pib_raw = pd.read_excel(
    xls,
    sheet_name="cuadro 1"
)

In [53]:
pib_raw.head()
pib_raw.columns

Index(['Cuadro 1', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       ...
       'Unnamed: 120', 'Unnamed: 121', 'Unnamed: 122', 'Unnamed: 123',
       'Unnamed: 124', 'Unnamed: 125', 'Unnamed: 126', 'Unnamed: 127',
       'Unnamed: 128', 'Unnamed: 129'],
      dtype='object', length=130)

In [55]:
pib_raw.columns

Index(['Cuadro 1', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       ...
       'Unnamed: 120', 'Unnamed: 121', 'Unnamed: 122', 'Unnamed: 123',
       'Unnamed: 124', 'Unnamed: 125', 'Unnamed: 126', 'Unnamed: 127',
       'Unnamed: 128', 'Unnamed: 129'],
      dtype='object', length=130)

In [57]:
pib_raw.head(15)

,Cuadro 1,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 120,Unnamed: 121,Unnamed: 122,Unnamed: 123,Unnamed: 124,Unnamed: 125,Unnamed: 126,Unnamed: 127,Unnamed: 128,Unnamed: 129
0,Oferta y demanda globales. Valores trimestrale...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,2004,NaN,NaN,NaN,NaN,NaN,2005,NaN,NaN,...,NaN,2024 (2),NaN,NaN,NaN,NaN,NaN,2025 (2),NaN,NaN
3,NaN,1º trimestre,2º trimestre,3º trimestre,4º trimestre,Total,NaN,1º trimestre,2º trimestre,3º trimestre,...,NaN,1º trimestre,2º trimestre,3º trimestre,4º trimestre,Total,NaN,1º trimestre,2º trimestre,3º trimestre
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Producto Interno Bruto,460369.442233,514395.681772,481151.979944,484543.676877,485115.195206,NaN,493602.530578,581668.24988,514697.789505,...,NaN,669057.733385,729947.785275,714524.36555,718991.460937,708130.336286,NaN,708113.80567,776528.776091,737868.049793
6,Importaciones FOB (bienes y servicios reales),73073.434811,80006.307217,85416.072521,88375.321573,81717.784031,NaN,84904.77745,97288.203296,96844.893037,...,NaN,161524.279009,166315.002199,180683.25897,198736.261383,176814.70039,NaN,226188.830887,229490.640598,223524.710759
7,Oferta Global,533442.877044,594401.98899,566568.052465,572918.998449,566832.979237,NaN,578507.308028,678956.453176,611542.682543,...,NaN,830582.012394,896262.787474,895207.62452,917727.722319,884945.036677,NaN,934302.636557,1006019.416689,961392.760552
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Demanda Global,533442.97369,594401.970496,566568.026152,572918.94661,566832.979237,NaN,578507.308028,678956.453176,611542.682543,...,NaN,830582.012394,896262.787474,895207.62452,917727.722319,884945.036677,NaN,934302.636557,1006019.416689,961392.760552
10,Consumo privado (5),305237.173406,338800.001676,310440.574131,293849.793952,312081.885791,NaN,319799.762518,385778.072111,323831.365661,...,NaN,505691.691769,537144.983525,490538.933896,506042.898017,509854.626802,NaN,561079.263128,595249.128825,516631.008924
11,Consumo público (5),49687.342191,52072.277957,53720.816257,60194.718175,53918.788645,NaN,54179.355472,58212.171986,58977.839293,...,NaN,93514.537714,97708.305978,94540.649075,98477.381312,96060.21852,NaN,91913.035956,98793.521374,96194.777603
12,Exportaciones FOB (bienes y servicios reales),102774.202981,119462.277412,119619.171228,120898.050167,115688.425447,NaN,119186.926947,138217.547984,135432.693077,...,NaN,147042.547183,163867.900656,172279.426893,172061.4141,163812.822208,NaN,156840.285063,169102.083588,189870.678014
13,Formación bruta de capital fijo,71794.433853,81995.480316,79254.313812,75368.480471,77103.177113,NaN,80672.434724,94508.358708,89948.604167,...,NaN,108465.587726,112400.605808,136303.200222,141001.233735,124542.656873,NaN,142606.894463,148459.94828,150284.819138
14,Variación de existencias (3),3949.821259,2071.933135,3533.150723,22607.903844,8040.70224,NaN,4668.828367,2240.302387,3352.180344,...,NaN,-29236.225936,-9452.98291,16813.539014,27028.293729,1288.155974,NaN,-20949.969123,-2258.896926,15991.088054

In [83]:
pib_raw = pd.read_excel(
    "C:/Users/brent/Downloads/Series trimestrales de oferta y demanda globales. Años 2004-2025.xls",
    sheet_name="cuadro 1",
    header=None,
    dtype=str
)

In [85]:
pib_raw.head()
pib_raw.columns

Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
       ...
       120, 121, 122, 123, 124, 125, 126, 127, 128, 129],
      dtype='int64', length=130)

In [87]:
#Quedarnos con la fila de Producto Interno Bruto
pib_fila = pib_raw.iloc[5, 1:]  # ignoramos la columna 0
pib_fila.head(10)

1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
10    NaN
Name: 5, dtype: object

In [89]:
fila_anios = pib_raw.iloc[2, 1:]
fila_trimestres = pib_raw.iloc[3, 1:]
fila_anios.head(10)

1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
10    NaN
Name: 2, dtype: object

In [91]:
pib_raw.iloc[:10, :15]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,Cuadro 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Oferta y demanda globales. Valores trimestrale...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,2004,NaN,NaN,NaN,NaN,NaN,2005,NaN,NaN,NaN,NaN,NaN,2006,NaN
4,NaN,1º trimestre,2º trimestre,3º trimestre,4º trimestre,Total,NaN,1º trimestre,2º trimestre,3º trimestre,4º trimestre,Total,NaN,1º trimestre,2º trimestre
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Producto Interno Bruto,460369.4422329487,514395.6817723617,481151.9799435081,484543.6768765623,485115.1952063452,NaN,493602.53057785495,581668.2498796025,514697.78950542817,522255.20005077147,528055.9425034143,NaN,532348.2120169173,614076.3926085439
7,Importaciones FOB (bienes y servicios reales),73073.43481112685,80006.3072174586,85416.07252113911,88375.32157266857,81717.78403059828,NaN,84904.77744994142,97288.20329605682,96844.89303709046,99636.55792383585,94668.60792673114,NaN,96613.8916394867,101743.8617298436
8,Oferta Global,533442.8770440756,594401.9889898202,566568.0524646472,572918.9984492309,566832.9792369434,NaN,578507.3080277963,678956.4531756593,611542.6825425186,621891.7579746073,622724.5504301455,NaN,628962.103656404,715820.2543383874
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [109]:
pib = pib_raw.iloc[6:, :]   # desde la fila donde empiezan los datos
pib.head()

,0,1,2,3,4,5,6,7,8,9,...,120,121,122,123,124,125,126,127,128,129
6,Producto Interno Bruto,460369.4422329487,514395.6817723617,481151.9799435081,484543.6768765623,485115.1952063452,NaN,493602.53057785495,581668.2498796025,514697.78950542817,...,NaN,669057.7333851669,729947.7852745531,714524.3655499592,718991.4609365795,708130.3362863973,NaN,708113.8056701763,776528.7760907853,737868.0497927279
7,Importaciones FOB (bienes y servicios reales),73073.43481112685,80006.3072174586,85416.07252113911,88375.32157266857,81717.78403059828,NaN,84904.77744994142,97288.20329605682,96844.89303709046,...,NaN,161524.27900890994,166315.00219915036,180683.25897019324,198736.26138286063,176814.70039027854,NaN,226188.830887252,229490.64059812744,223524.7107592643
8,Oferta Global,533442.8770440756,594401.9889898202,566568.0524646472,572918.9984492309,566832.9792369434,NaN,578507.3080277963,678956.4531756593,611542.6825425186,...,NaN,830582.0123940768,896262.7874737035,895207.6245201525,917727.7223194401,884945.0366766758,NaN,934302.6365574283,1006019.4166889128,961392.7605519922
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Demanda Global,533442.9736900443,594401.9704962727,566568.0261516126,572918.9466098445,566832.9792369435,NaN,578507.3080277967,678956.4531756593,611542.6825425186,...,NaN,830582.0123940768,896262.7874737035,895207.6245201525,917727.7223194401,884945.0366766758,NaN,934302.6365574283,1006019.4166889128,961392.7605519922

In [111]:
#La columna 0 contiene los nombres (Producto Interno Bruto, etc.).
pib = pib.set_index(0)
pib.head()

,1,2,3,4,5,6,7,8,9,10,...,120,121,122,123,124,125,126,127,128,129
0,,,,,,,,,,,,,,,,,,,,,
Producto Interno Bruto,460369.4422329487,514395.6817723617,481151.9799435081,484543.6768765623,485115.1952063452,NaN,493602.53057785495,581668.2498796025,514697.78950542817,522255.20005077147,...,NaN,669057.7333851669,729947.7852745531,714524.3655499592,718991.4609365795,708130.3362863973,NaN,708113.8056701763,776528.7760907853,737868.0497927279
Importaciones FOB (bienes y servicios reales),73073.43481112685,80006.3072174586,85416.07252113911,88375.32157266857,81717.78403059828,NaN,84904.77744994142,97288.20329605682,96844.89303709046,99636.55792383585,...,NaN,161524.27900890994,166315.00219915036,180683.25897019324,198736.26138286063,176814.70039027854,NaN,226188.830887252,229490.64059812744,223524.7107592643
Oferta Global,533442.8770440756,594401.9889898202,566568.0524646472,572918.9984492309,566832.9792369434,NaN,578507.3080277963,678956.4531756593,611542.6825425186,621891.7579746073,...,NaN,830582.0123940768,896262.7874737035,895207.6245201525,917727.7223194401,884945.0366766758,NaN,934302.6365574283,1006019.4166889128,961392.7605519922
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Demanda Global,533442.9736900443,594401.9704962727,566568.0261516126,572918.9466098445,566832.9792369435,NaN,578507.3080277967,678956.4531756593,611542.6825425186,621891.7579746074,...,NaN,830582.0123940768,896262.7874737035,895207.6245201525,917727.7223194401,884945.0366766758,NaN,934302.6365574283,1006019.4166889128,961392.7605519922

In [113]:
#Seleccionar SOLO el PIB (forma correcta)
pib_fila = pib.loc["Producto Interno Bruto"]
pib_fila

1      460369.4422329487
2      514395.6817723617
3      481151.9799435081
4      484543.6768765623
5      485115.1952063452
             ...
125    708130.3362863973
126                  NaN
127    708113.8056701763
128    776528.7760907853
129    737868.0497927279
Name: Producto Interno Bruto, Length: 129, dtype: object

In [115]:
#Limpiar columnas inútiles (NaN)
pib_fila = pib_fila.dropna()
pib_fila

1      460369.4422329487
2      514395.6817723617
3      481151.9799435081
4      484543.6768765623
5      485115.1952063452
             ...
124    718991.4609365795
125    708130.3362863973
127    708113.8056701763
128    776528.7760907853
129    737868.0497927279
Name: Producto Interno Bruto, Length: 108, dtype: object

In [117]:
#Convertir a DataFrame ordenado
pib_df = pib_fila.reset_index()
pib_df.columns = ["periodo", "pib"]
pib_df.head()

   periodo                pib
0        1  460369.4422329487
1        2  514395.6817723617
2        3  481151.9799435081
3        4  484543.6768765623
4        5  485115.1952063452

In [119]:
#Extraer años y trimestres desde el encabezado
# filas de encabezado
fila_anios = pib_raw.iloc[3]
fila_trimestres = pib_raw.iloc[4]

In [123]:
#Ahora armamos los nombres de columnas reales:
columnas = []

anio_actual = None

for a, t in zip(fila_anios, fila_trimestres):
    if not pd.isna(a):
        a_str = str(a)
        if a_str[:4].isdigit():
            anio_actual = int(a_str[:4])
    if not pd.isna(t) and anio_actual is not None:
        columnas.append(f"{anio_actual} - {t}")
    else:
        columnas.append(None)

In [125]:
columnas[:20]

[None,
 '2004 - 1º trimestre',
 '2004 - 2º trimestre',
 '2004 - 3º trimestre',
 '2004 - 4º trimestre',
 '2004 - Total',
 None,
 '2005 - 1º trimestre',
 '2005 - 2º trimestre',
 '2005 - 3º trimestre',
 '2005 - 4º trimestre',
 '2005 - Total',
 None,
 '2006 - 1º trimestre',
 '2006 - 2º trimestre',
 '2006 - 3º trimestre',
 '2006 - 4º trimestre',
 '2006 - Total',
 None,
 '2007 - 1º trimestre']

In [131]:
pib = pib_raw.iloc[6:, :].copy()
pib.columns = columnas

# Setear como índice la PRIMERA columna (conceptos)
pib.index = pib.iloc[:, 0]
pib = pib.iloc[:, 1:]

In [133]:
pib.head()

,2004 - 1º trimestre,2004 - 2º trimestre,2004 - 3º trimestre,2004 - 4º trimestre,2004 - Total,None,2005 - 1º trimestre,2005 - 2º trimestre,2005 - 3º trimestre,2005 - 4º trimestre,...,None,2024 - 1º trimestre,2024 - 2º trimestre,2024 - 3º trimestre,2024 - 4º trimestre,2024 - Total,None,2025 - 1º trimestre,2025 - 2º trimestre,2025 - 3º trimestre
Producto Interno Bruto,460369.4422329487,514395.6817723617,481151.9799435081,484543.6768765623,485115.1952063452,NaN,493602.53057785495,581668.2498796025,514697.78950542817,522255.20005077147,...,NaN,669057.7333851669,729947.7852745531,714524.3655499592,718991.4609365795,708130.3362863973,NaN,708113.8056701763,776528.7760907853,737868.0497927279
Importaciones FOB (bienes y servicios reales),73073.43481112685,80006.3072174586,85416.07252113911,88375.32157266857,81717.78403059828,NaN,84904.77744994142,97288.20329605682,96844.89303709046,99636.55792383585,...,NaN,161524.27900890994,166315.00219915036,180683.25897019324,198736.26138286063,176814.70039027854,NaN,226188.830887252,229490.64059812744,223524.7107592643
Oferta Global,533442.8770440756,594401.9889898202,566568.0524646472,572918.9984492309,566832.9792369434,NaN,578507.3080277963,678956.4531756593,611542.6825425186,621891.7579746073,...,NaN,830582.0123940768,896262.7874737035,895207.6245201525,917727.7223194401,884945.0366766758,NaN,934302.6365574283,1006019.4166889128,961392.7605519922
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Demanda Global,533442.9736900443,594401.9704962727,566568.0261516126,572918.9466098445,566832.9792369435,NaN,578507.3080277967,678956.4531756593,611542.6825425186,621891.7579746074,...,NaN,830582.0123940768,896262.7874737035,895207.6245201525,917727.7223194401,884945.0366766758,NaN,934302.6365574283,1006019.4166889128,961392.7605519922

In [135]:
#Extraer el PBI
pib_pbi = pib.loc["Producto Interno Bruto"].dropna()

In [137]:
pib_pbi.head(10)

2004 - 1º trimestre     460369.4422329487
2004 - 2º trimestre     514395.6817723617
2004 - 3º trimestre     481151.9799435081
2004 - 4º trimestre     484543.6768765623
2004 - Total            485115.1952063452
2005 - 1º trimestre    493602.53057785495
2005 - 2º trimestre     581668.2498796025
2005 - 3º trimestre    514697.78950542817
2005 - 4º trimestre    522255.20005077147
2005 - Total            528055.9425034143
Name: Producto Interno Bruto, dtype: object

In [145]:
#Filtrar período 2020–2025 (TOTAL anual)
# Filtrar solo columnas "Total"
pib_total = pib_pbi[pib_pbi.index.str.contains("Total")]

# Extraer año
anios = pib_total.index.str.extract(r"(\d{4})")[0].astype(int)

# Filtrar 2020–2025 (USANDO values)
pib_2020_2025 = pib_total[(anios.values >= 2020) & (anios.values <= 2025)]

In [147]:
pib_2020_2025

2020 - Total    624591.2861529794
2021 - Total    689809.9340338551
2022 - Total    731341.6337271854
2023 - Total    717769.4832113908
2024 - Total    708130.3362863973
Name: Producto Interno Bruto, dtype: object

In [149]:
pib_2020_2025.index

Index(['2020 - Total', '2021 - Total', '2022 - Total', '2023 - Total',
       '2024 - Total'],
      dtype='object')

In [153]:
#Si querés algo más prolijo para análisis:
pib_2020_2025.index = anios[(anios.values >= 2020) & (anios.values <= 2025)]
pib_2020_2025

0
2020    624591.2861529794
2021    689809.9340338551
2022    731341.6337271854
2023    717769.4832113908
2024    708130.3362863973
Name: Producto Interno Bruto, dtype: object

In [159]:
#Asi queda para exportar
pib_df = pib_2020_2025.reset_index()
pib_df.columns = ["anio", "pib_total"]

In [157]:
pib_df

   anio          pib_total
0  2020  624591.2861529794
1  2021  689809.9340338551
2  2022  731341.6337271854
3  2023  717769.4832113908
4  2024  708130.3362863973

In [161]:
#Exportar a CSV
pib_df.to_csv(
    "pib_total_anual_2020_2025.csv",
    index=False,
    encoding="utf-8"
)